html {
    font-family: sans-serif;
}

body {
    display: grid;
    justify-items: center;
    background-image: url(fon.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

.lastResult {
    color: white;
    padding: 3px;
}